@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-color: var(--text-color);
  --color-bg-color: var(--bg-color);
  --color-footer-text-color: var(--footer-text-color);
  --color-footer-bg-color: var(--footer-bg-color);

  --color-hover: rgb(100 100 100 / 0.2);

  --spacing-header-space: 4rem;
}

@layer base {
  :root {
    --primary: "";
    --secondary: "";
    --text-color: #454545;
    --bg-color: #ffffff;
    --footer-text-color: #6b7280;
    --footer-bg-color: #f2f7fd;
  }
  .dark {
    --primary: "";
    --secondary: "";
    --text-color: #f5f5f5;
    --bg-color: #242629;
    --footer-text-color: #a0a0a0;
    --footer-bg-color: #2e3035;
  }
}
