---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "@/libs/consts";

const keywords = ["KerorinNF", "kerorinnf", "KerorinNorthFox", "blog", "けろりん", "けろりん北狐"];
---

<BaseLayout title="ホームページ" description={SITE_DESCRIPTION} keywords={keywords}>
	<div class="h-[calc(100vh_-_4rem)]">
		<p class="text-text-demo">Hello world</p>
	</div>
</BaseLayout>
