---
import Layout from '@/layouts/Layout.astro';
import FrontCover from '@/components/FrontCover';
import { SITE_DESCRIPTION } from '@/consts';

const keywords = ["KerorinNF", "kerorinnf", "blog"]
---
<Layout title="Homepage" description={SITE_DESCRIPTION} keywords={keywords}>
	<div class="h-[calc(100vh_-_4rem)]">
		<FrontCover />
	</div>
</Layout>