---
import BaseLayout from '@/layouts/BaseLayout.astro';
import FrontCover from '@/components/FrontCover';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import About from '@/components/About';
import LayoutWidth from '@/layouts/LayoutWidth.astro';

const keywords = ["KerorinNF", "kerorinnf", "blog", "osu"]
---
<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} keywords={keywords}>
	<div class="h-[calc(100vh_-_4rem)]">
		<FrontCover />
		<!-- <img src="https://count.getloli.com/get/@kerorinnf?theme=rule34" alt="access counter" /> -->
	</div>
	<LayoutWidth>
		<div class="bg-white">
			<About />
		</div>
	</LayoutWidth>
</BaseLayout>