---
import HeaderNav from "./HeaderNav.astro"
---
<header class="bg-bg-color text-text-color transition-colors duration-500">
  <nav class="fixed w-full h-header-space shadow-md">
    <div class="h-full max-w-[1200px] mx-auto pl-4 flex justify-between items-center">
      <a class="text-xl" href="/">KerorinNF</a>
      <HeaderNav />
    </div>
  </nav>
</header>