---
import HeaderNav from "./HeaderNav.astro";
---
<header>
  <!-- <nav class="w-screen h-16 px-4 fixed bg-gradient-to-r from-gradient-from to-gradient-to animate-bg-pan-left bg-200% drop-shadow-lg"> -->
  <nav class="w-screen h-16 px-4 fixed shadow-md bg-light-bg dark:bg-dark-bg text-light-text dark:text-dark-text transition-colors duration-bg">
    <div class="h-full xl:max-w-[70%] mx-auto flex justify-between items-center">
      <a class="text-xl" href="/">HomePage</a>
      <HeaderNav />
    </div>
  </nav>
</header>
