---
import ExternalLink from "@/components/ExternalLink.astro"
import { SOCIAL_LINKS } from "@/libs/consts"
---
<div class="flex gap-4">
  {
    SOCIAL_LINKS.map(({href, ariaLabel, icon}) => (
      <ExternalLink href={href} ariaLabel={ariaLabel}>
        <icon.src class="text-footer-text-color" />
      </ExternalLink>
    ))
  }
</div>