---
import Meta from "@/components/meta/Meta.astro";
import Links from "@/components/meta/Links.astro";
import Header from "@/components/header/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "@/libs/consts.ts";
import "@/styles/global.css";
import Footer from "@/components/footer/Footer.astro";

interface Props {
	title: string,
	description?: string
	keywords?: string[]
};

const { title, description, keywords=[] } = Astro.props;
---
<!doctype html>
<html lang="ja">
	<head>
		<Meta title={`${title} | ${SITE_TITLE}`} description={description ?? SITE_DESCRIPTION} />
		<slot name="additional-meta" />
		<Links />
		<slot name="additional-links" />
	</head>
	<body>
		<Header />
		<main class="min-h-full pt-header-space bg-bg-color text-text-color transition-colors duration-500">
			<slot />
		</main>
		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
	</body>
</html>

