---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import LayoutWidth from './LayoutWidth.astro';

type Props = CollectionEntry<"product">['data'];

const { title, description, headingImage } = Astro.props;
---
<BaseLayout title={title} description={description}>
	<LayoutWidth>
		<div class="min-h-screen mx-auto py-12 px-12 sm:px-20 bg-white shadow-xl">
			<article>
				<div>
					<div class="mt-8 mb-4 px-4">
						<h1 class="text-2xl font-bold">{title}</h1>
					</div>
					<div class="w-full">
						{headingImage && <img src={headingImage} alt="" class=" shadow-[0px_10px_30px_rgba(0,0,0,0.50)]" />}
					</div>
				</div>
				<hr class="my-12" />
				<div class="prose sm:prose-lg lg:prose-xl">
					<slot />
				</div>
			</article>
		</div>
	</LayoutWidth>
</BaseLayout>